<body style="background: aqua">
  <h1 style="text-align: center; color: black">Academy - Lessons</h1>
  <a href="/logout" class="border-shadow">
    <span class="text-gradient">Log out </span>
  </a>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/O5nskjZ_GoI"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <br />
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/LN0ucKNX0hc"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <br />
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/gI-qXk7XojA"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</body>
<%- include('partials/_footer') %>

<style>
  a {
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
  }
  .text-gradient {
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 100px;
    font-size: 2em;
  }

  footer {
    text-align: center;
    margin-top: 300px;
    color: black;
  }
</style>
