<%- include('partials/header'); -%>
<header class="showase">
  <div class="showcase-top">
    <a href="/login" class="btn">Log in</a>
    <a href="/signup" class="btn">Sign up</a>
    <a href="/tasks" class="btn">Tasks</a>
  </div>
  <div class="showcase-content">
    <h2>
      Online classes <br />
      from the best instructors, <br />
      all over the world!
    </h2>
    <br />
    <br />
    <h3>Make learing accessible, fun and engaging.</h3>
  </div>
</header>

<%- include('partials/footer'); -%>
